body{
    overflow: overlay;
}
.bigImger{
    width:1920px;
    height:450px;
    background: url("../IMG/listImg/衔接大图一.jpg") 50%;
    background-size: 140% 100%;
}
.title{
    width:1920px;
    height:141px;
    background: #F4F4F4;
}
.title>div{
    width:1240px;
    margin:0 auto;
    height:100%;
    position: relative;
}
.title>div i{
    display: block;
    position: absolute;
    font-size: 29px;
    top:90px;
    color:#515151;
    font-family: "微软雅黑";
}
.title>div>a{
    float:right;
    margin-top:99px;
    font-size: 18px;
    color:#343434;
    margin-left:29px;
    font-family: "微软雅黑";
}
.shopList{
    width:1920px;
    background:#F4F4F4;
}
.shopList>.mobileList{
    width:1240px;
    display: flex;
    margin:0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shopList>.mobileList>div{
    width:404px;
    height:557px;
    margin-bottom: 13px;
    position: relative;
    padding-top:41px;
    text-align: center;
    transition: 0.5s;
    background:white
}
.shopList>.mobileList>div:hover pre{
    visibility: visible;
}
.shopList>.mobileList>div:hover{
    box-shadow: 1px 1px 1px 2px gainsboro;   
    cursor: pointer;
}
.shopList>.mobileList>div img{
    width:320px;
    height:320px;
}
.shopList>.mobileList>div>pre{
    width:100%;
    height:28px;
    position: absolute;
    top:369px;
    display: flex;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
}
.shopList>.mobileList>div>a{
    margin-top:43px;
    line-height: 52px;
    font-size: 22px;
    color:#333333;
    display: block;
}
.shopList>.mobileList>div>b{
    width:231px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    color:#666666;
    display: block;
    margin: 0 auto;
    font-family: "微软雅黑";
    font-weight: 300px;
    letter-spacing: 2px;
    margin-bottom: 24px;
}
.shopList>.mobileList>div>i{
    font-size: 28px;
    color:#c00;
    display: block;
}
.shopList>.mobileList>div>pre>aside{
    border-radius: 50%;
    width:20px;
    height: 20px;
    margin:0 12px;
    background:red;
    position: relative;
    z-index: 2;
    padding:2px;
    opacity: 0.9;
    transition: 0.5s;
}
.shopList>.mobileList>div>pre>aside:hover{
    opacity: 1;
}
.bigImger2{
    width: 1920px;
    height:399px;
    background:#F4F4F4
}
.bigImger2>div{
    width:1240px;
    height:248px;
    margin:0 auto;
    font-size: 23px;
    color:#333333;
    line-height: 220px;
}
.bigImger2>div img{
    width:100%;
    height:100%
}
.finalswiper{
    width:1920px;
    height:513px;
    background:#F4F4F4;
}
.swiper-slide{
    width:310px;
    padding-top: 41px;
    text-align: center;
    position: relative;
}
.swiper-slide img{
    width:240px;
    height:240px;
}
.swiper-slide>a{
    display: block;
    top:312px;
    font-size: 20px;
    color:#2B2B2B;
    font-family: "微软雅黑";
    width:100%;
    height:25px;
    position: absolute;
    margin: 0 auto
}
.swiper-slide>b{
    display: block;
    top:355px;
    font-size: 21px;
    color:#CC0000;
    position: absolute;
    margin: 0 auto;
    width:100%;
    height:25px;
}
footer{
    width:1920px;
    height:245px;
    position: relative;
    background:#FFFFFF;
}
footer>div{
    width:1240px;
    height:100%;
    margin:0 auto;
    background: white;
}
footer>div>pre{
    width:100%;
    position: relative;
    height: 145px;
    border-bottom: 1px solid #EEEEEE;
}
footer>div>pre>ul{
    width:884px;
    height:145px;
    display: flex;
    justify-content: space-around;
}
footer>div>pre>ul>li{
    box-sizing: border-box;
    width:106px;
    height:145px;
    padding-top:24px;
    padding-left:10px;
    text-align: center;
    font-size:13px ;
    color:#A69999;
    font-family: "微软雅黑";
}
footer>div>pre>ul>li img{
    width:50px;
    height:39px;
    margin-bottom: 10px;
}
footer>div>pre>div{
    width:177px;
    height:100%;
    position: absolute;
    right: 0;
    top:0;
    text-align: right;
}
footer>div>pre>div>i{
    font-size: 13px;
    color:#A69999;
    display: block;
    position: absolute;
    top:38px;
    right: 0;
    font-family: "微软雅黑";
}
footer>div>pre>div>b{
    font-size: 22px;
    color:#00C3F5;
    display: block;
    font-family: "微软雅黑";
    position: absolute;
    top:64px;
    right: 0;
}
footer>div>pre>div>span{
    display: block;
    width:90px;
    height:30px;
    background:#0BBBEF;
    color:#FFFFFF;
    text-align: center;
    border-radius: 22px;
    font-family: "微软雅黑";
    padding-top:3px;
    position: absolute;
    right:0;
    bottom:16px
}
footer>div>pre>div>span:hover{
    cursor: pointer;
}
footer>div>article{
    width:100%;
    height:102px;
    position: relative;
    top:0px
}
footer>div>article>ul{
    position: absolute;
    width:913px;
    height:18px;
    display: flex;
    justify-content: space-between;
    top:27px
}
footer>div>article>ul>li{
    width:-webkit-max-content;
    height:100%;
    border-right:1px solid #D6D6D6;
    font-size: 12px;
    color:#999999;
    padding-right: 16px;
}
footer>div>article>ul>li:last-child{
    border:none;
    position: relative;
}
footer>div>article>ul>li:last-child>ul{
    width:100%;
    position: absolute;
    top:-179px;
    left:-8px;
    display: none;
    background: white;
}
footer>div>article>ul>li:last-child:hover ul{
    display: block;
}
footer>div>article>ul>li:last-child>ul>li{
    width:100%;
    height:34px;
    line-height: 34px;
    text-align: center;
    color:#333333;
}
footer>div>article>ul>li:last-child>ul>li:hover{
    color:#999999
}
footer>div>article>ul>li:hover{
    color:#31A5E7;
    cursor: pointer;
}
footer>div>article>next{
    display: block;
    position: absolute;
    top:63px;
    font-size: 12px;
    color:#999999;
}
footer>div>article>next>a{
    display: inline-block;
    margin:0 10px;
    color:#AAAAAA;
}
footer>div>article>next>a:hover{
    color:#07C160
}
footer>div>article>next>a:nth-child(1){
    margin-left:150px;
}